<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <br /><br />
      <h2>About Landing-Page</h2>
      <br />

      <!-- https://codepen.io/NielsVoogt/pen/MbMMxv/?editors=1100 -->

      <!-- <div class="timeline">
        <div class="timeline-item">
          <h3>dkdkd</h3>
          <p>fjsaklfjsakjflkl;aj</p>
        </div>

        <div class="timeline-item">
          <h3>dkdkd</h3>
          <p>fjsaklfjsakjflkl;aj</p>
        </div>

        <div class="timeline-item">
          <h3>dkdkd</h3>
          <p>fjsaklfjsakjflkl;aj</p>
        </div>

        <div class="timeline-item">
          <h3>dkdkd</h3>
          <p>fjsaklfjsakjflkl;aj</p>
        </div> -->


        <div class="container">

          <div class="rightbox">
            <div class="rb-container">
              <ul class="rb">
                <li class="rb-item" ng-repeat="itembx">
                  <div class="timestamp">
                    3rd May 2020<br> 7:00 PM
                  </div>
                  <div class="item-title">Chris Serrano posted a photo on your wall.</div>
        
                </li>
                <li class="rb-item" ng-repeat="itembx">
                  <div class="timestamp">
                    19th May 2020<br> 3:00 PM
                  </div>
                  <div class="item-title">Mia Redwood commented on your last post.</div>
        
                </li>
        
                <li class="rb-item" ng-repeat="itembx">
                  <div class="timestamp">
                    17st June 2020<br> 7:00 PM
                  </div>
                  <div class="item-title">Lucas McAlister just send you a message.</div>
        
                </li>
        
              </ul>
        
            </div>
          </div>
        </div>

      </div> 
    </div>
</section>