<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <br /><br />
      <h2>About Landing-Page</h2>
      <br />
<!-- 
      <div class="exp-container">
        <div class="exp-row">
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
        </div>
      </div>


      </div> -->

      <div class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-3">
                    <strong>Month-day-year</strong>
                </div>
                <div class="col-lg-10 col-lg-offset-2 col-sm-9">
                    <h3>Company | Location</h3>
                    <h6>position at company</h6>
                    <div>
                      <ul>
                        <li>
                          point 1
                        </li>
                        <li>point 2</li>
                        <li>point 3</li>
                      </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

      </div> 
    </div>
</section>