<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <br /><br />
      <h2>Experience</h2>
      <br />
      <div class="content-section-c">
        <div class="container full-width">
          <div class="row">
            <div class="col-lg-2 col-sm-3 exp-date">
              June 2021 - Present
            </div>
            <div class="col-lg-10 col-sm-9 exp-item">
              <h4>Wise Systems | Cambridge, MA</h4>
              <h6 class="exp-position">Full Stack Software Engineer</h6>
              <div class="exp-items">
                <ul>
                  <li>
                    Develop data pipelines to ingest client data from their order management systems and create Wise Task objects
                  </li>
                  <li>
                    Maintain integrations with third party routing software so that their clients can easily integrate with Wise for optimization and dispatch 
                  </li>
                  <li>
                    Build components for a new web onboarding interface that will allow  
                    new customers to independently map and configure their data
                  </li>
                  <li>
                    Lead scrum ceremonies and use Agile principles
                  </li>
                  <li>
                    Initiate and organize team and company wide virtual events to help 
                    cultivate a positive work culture
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-sm-3 exp-date">
              January - June 2020
            </div>
            <div class="col-lg-10 col-sm-9 exp-item">
              <h4>iRobot | Bedford, MA</h4>
              <h6 class="exp-position">Software Development Intern</h6>
              <div class="exp-items">
                <ul>
                  <li>
                    Member of the DataApps team working to provide tools to help the customer support agents address
                    incidents
                  </li>
                  <li>
                    Refactored Angular web app to incorporate NGXS state management
                  </li>
                  <li>
                    Aggregated robot data from different sources to populate a dashboard    
                    used by customer support to improve their troubleshooting experience
                  </li>
                  <li>
                    Used AWS API Gateway and Lambda to scale up current web app to support a larger user base and add permissions management capabilities
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-sm-3 exp-date">
              May - August 2019
            </div>
            <div class="col-lg-10 col-sm-9 exp-item">
              <h4>Wise Systems | Cambridge, MA</h4>
              <h6 class="exp-position">Software Engineering Intern</h6>
              <div class="exp-items">
                <ul>
                  <li>
                    Worked on the frontend team to improve the web interface that was used 
                    by clients who were in charge of scheduling and dispatching large shipments
                  </li>
                  <li>
                    Added capabilities to an internal Slack bot used by the customer experience support team to streamline assistance of repeating customer issues
                  </li>
                  <li>
                    Built and modified Polymer Library components to make frontend web changes based on customer usability feedback
                  </li>
                  <li>
                    Took part in Scrum practices and code reviews
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-sm-3 exp-date">
              June - December 2018
            </div>
            <div class="col-lg-10 col-sm-9 exp-item">
              <h4>Orientation and Mobility Research Lab | Needham, MA</h4>
              <h6 class="exp-position">iOS Developer</h6>
              <div class="exp-items">
                <>
                  <li>Created an iOS Musical Cane Game app for young, visually impaired and blind students working to develop their white cane skills

                  </li>
                  <li>
                    Used Core Bluetooth and iBeacon to connect to a Bluetooth low energy sensor and Estimote Beacons for location mapping
                  </li>
                  <li>
                    Designed a non-intrusive way to connect the Bluetooth sensor to the students' canes to track the motion and position of the sweeps
                  </li>
                  <li>
                    Co-desiged with blind and visually impaired users as well as an orientation and mobility instructor at Perkins School for the Blind
                  </li>
                  <li>
                    Connected the app to the phone's music library so that the students could select tracks of their choice
                  </li>
                  <li>
                    Improved app navigation and experience based on feedback from users
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>

      </div>

      <br /><br />
      <h2>Skills</h2>
      <br />

      <div class="content-section-c">
        <div class="container full-width">
          <div class="row">
            <span class="skill-item">JavaScript</span>
            <span class="skill-item">TypeScript</span>
            <span class="skill-item">Angular</span>
            <span class="skill-item">React</span>
            <span class="skill-item">Python</span>
            <span class="skill-item">Flask</span>
            <span class="skill-item">HTML</span>
            <span class="skill-item">Java</span>
            <span class="skill-item">CSS</span>
            <span class="skill-item">Scrum</span>
            <span class="skill-item">Agile</span>
            <span class="skill-item">SQL</span>
            <span class="skill-item">Git</span>
            <span class="skill-item">Raspberry Pi</span>
            <span class="skill-item">Arduino</span>
          </div>
          </div>
          </div>
          <br />
          <br />
    </div>
  </div>
</section>